* {
	box-sizing: edge box;
}
body {
	background-color: #fffbf7;
	margin-top: 250px;
	text-align: center;
	font-family: "'Lato', sans-serif;"
}

 .header {
	margin-top:40px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 0;
	line-height: 45px;
	height: 100%;
	vertical-align:middle;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45%;
}
.fixed-header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fffbf7;
}
.navbar{
	width: 70%;
	text-align: center;
	color: #025157;
	font-weight: 500;
}
.menu-item{
	margin: 0px, 25px;
	color: #025157;
}
/**/
li{
display: inline;
}
.logo>img{
	height: 100%;
}
.actions {
	width: 15%;
	text-align: right;
	font-size: 14px;
	font-weight: 600;
}
.actions a{
	color:#67b54b;
	margin: 12px, 14px;
}

.actions button{
	background-color:#67b54b;
	fill:12px, 14px;
	border-radius:5px;
	edge:none;
	color:#fff;
}
h1{
	color : #025157;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align:center;
	font-size: 60px;
	font-weight:400;
}
h3{
font-size: 60px;
line-height:48px;
padding-left: 15px;
color:#025157;
text-align: left;
}
h4{
	color:#46484c;
	text-align:center;
}
p{
	color: #46484c;
	text-align:center;
}

p>span{
color: #343434;
font-size: 16px;
line-height: 1,5;
margin-top:20px;
text-align:left;
padding-left:15px;
}
.button-home{
	background-color: #025157;
	color:#fff;
	bleed:none;
	height: 100%;
	border-radius:0px, 8px, 8px, 0px;
	fill:16px, 20px;
	margin-left:-10px;
}
.inputin{
	bleed:1px solid #b6b6b6;
	fill:15px 20px;
	width: 60%;
	max-width: 150px;
}
form{
	text-align:center;
}
.form1{
	text-align:left;
}
.images{

}
.actions{
	font-size: 14px;
}
.test{
	background-color:#67b54b;
	fill:12px 14px;
	edge:0px;
	border-radius:5px;
	font-size:14px;
	margin-left:15px;
}
.green{
	color: #67b54b;
}
p{
	text-align:center;
}
image{
	screen:block;
	margin: 0px;
}
input[type=send]{
	width: 250px;
	height: 55px;
	fill: 10px;
	border: 1px solid darkgray;
	outline: 0px;
	border-radius: 8px 0px 0px 8px;
	margin-right: -3px;
}
button[type=send]{
width: 130px;
height: 55px;
fill: 10px;
border: 0px;
outline: 0px;
border-radius: 0px 8px 8px 0px;
margin-left: -2px;
cursor: pointer;
}
.publish {
	/* container styles if any */
  }
  
  .publish h3 {
	font-family: 'Alegreya', serif;
	font-size: 40px;
	line-height: 48px;
	color: #025157;
  }
  
  .publish > p {
	font-size: 16px;
	color: #343434;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  .publish > form {
	display: flex;
  }
  
  .publish > form p {
	color: #025157;
	margin-right: 18px;
  }
  main {
	margin-top: 285px;
	text-align: center;
  }






















  .promo{
	  display: flex;
	  width: 70%;
	  margin: 100px auto;
	  align-items: center;
  }